---
Checks: >
    -*,
    modernize-use-override,
    -clang-diagnostic-unknown-warning-option,
    bugprone-use-after-move,
    bugprone-redundant-branch-condition,
    cppcoreguidelines-use-enum-class,
    cppcoreguidelines-pro-type-cstyle-cast,
    readability-container-size-empty

HeaderFilterRegex: '^(?!.*\.cpmcache).*$'
WarningsAsErrors: '*'
FormatStyle: 'file'
