[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/boost/assert"]
	path = third_party/boost/assert
	url = https://github.com/boostorg/assert.git
[submodule "third_party/boost/config"]
	path = third_party/boost/config
	url = https://github.com/boostorg/config.git
[submodule "third_party/boost/core"]
	path = third_party/boost/core
	url = https://github.com/boostorg/core.git
[submodule "third_party/boost/interprocess"]
	path = third_party/boost/interprocess
	url = https://github.com/boostorg/interprocess.git
[submodule "third_party/boost/intrusive"]
	path = third_party/boost/intrusive
	url = https://github.com/boostorg/intrusive.git
[submodule "third_party/boost/move"]
	path = third_party/boost/move
	url = https://github.com/boostorg/move.git
[submodule "third_party/boost/static_assert"]
	path = third_party/boost/static_assert
	url = https://github.com/boostorg/static_assert.git
