device/bin/silicon/reset-chip filter=lfs diff=lfs merge=lfs -text
device/bin/silicon/aarch64/create-ethernet-map filter=lfs diff=lfs merge=lfs -text
device/bin/silicon/x86/create-ethernet-map filter=lfs diff=lfs merge=lfs -text
