repos:
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
  - id: gersemi
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v17.0.6
  hooks:
  - id: clang-format
- repo: https://github.com/psf/black
  rev: 24.1.1
  hooks:
  - id: black
- repo: https://github.com/adrienverge/yamllint
  rev: v1.35.1
  hooks:
  - id: yamllint
    exclude: ^(?!\.github/).* # Only include files in .github/
- repo: https://github.com/espressif/check-copyright/
  rev: v1.0.3
  hooks:
    - id: check-copyright
      args: ['--config', '.pre-commit-hooks/check-copyright-config.yaml', "--ignore", ""]
- repo: local
  hooks:
    - id: check-cpp-comment-periods
      name: Check C++ comments end with period
      entry: .pre-commit-hooks/check_cpp_comments.py
      language: script
      types: [c++]
