<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>readability</string>
			<key>check_name</key>
			<string>readability-redundant-member-init</string>
			<key>description</key>
			<string>initializer for member 'tags' is redundant</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>75e9c3c6cc7a16d4f493ed2d69f60ff6</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>49</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>4</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>49</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>4</integer>
					</dict>
					<key>message</key>
					<string>initializer for member 'tags' is redundant</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-include-cleaner</string>
			<key>description</key>
			<string>no header providing "std::string" is directly included</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>ce1789ce25910d4e5a3c17a32596d8fc</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>6</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>6</integer>
			</dict>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>namespace YAML { (fixit)</string>
				</dict>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>Directives::Directives() : version{true, 1, 2}, tags{} {} (fixit)</string>
				</dict>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>5 |  (fixit)</string>
				</dict>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>std::string Directives::TranslateTagHandle( (fixit)</string>
				</dict>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>6</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>^ (fixit)</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>6</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>no header providing "std::string" is directly included</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>readability</string>
			<key>check_name</key>
			<string>readability-identifier-length</string>
			<key>description</key>
			<string>variable name 'it' is too short, expected at least 3 characters</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>dfc180923fc0520433d3b77d234f251f</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>8</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>8</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>8</integer>
					</dict>
					<key>message</key>
					<string>variable name 'it' is too short, expected at least 3 characters</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>readability</string>
			<key>check_name</key>
			<string>readability-braces-around-statements</string>
			<key>description</key>
			<string>statement should be inside braces</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>6091f7cd2b8fd8fe8d18f911ed4efb3f</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>24</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>10</integer>
			</dict>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>25</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>10</integer>
					</dict>
					<key>message</key>
					<string>{ (fixit)</string>
				</dict>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>10</integer>
					</dict>
					<key>message</key>
					<string>return "tag:yaml.org,2002:"; (fixit)</string>
				</dict>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>10</integer>
					</dict>
					<key>message</key>
					<string>|                                    (fixit)</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>24</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>10</integer>
					</dict>
					<key>message</key>
					<string>statement should be inside braces</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>modernize</string>
			<key>check_name</key>
			<string>modernize-use-nodiscard</string>
			<key>description</key>
			<string>function 'TranslateTagHandle' should be marked [[nodiscard]]</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>6af695f03aaf9df175a4a4433fa9d4ae</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>3</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>22</integer>
			</dict>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>22</integer>
					</dict>
					<key>message</key>
					<string>[[nodiscard]]  (fixit)</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>22</integer>
					</dict>
					<key>message</key>
					<string>function 'TranslateTagHandle' should be marked [[nodiscard]]</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-non-private-member-variables-in-classes</string>
			<key>description</key>
			<string>member variable 'version' has public visibility</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>7cc3a35e003ce35cadcbc7865843f915</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>11</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>24</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>11</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>24</integer>
					</dict>
					<key>message</key>
					<string>member variable 'version' has public visibility</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-non-private-member-variables-in-classes</string>
			<key>description</key>
			<string>member variable 'tags' has public visibility</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>4aefafe130f26c1f5adb810c81c6fc09</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>38</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>25</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>38</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>25</integer>
					</dict>
					<key>message</key>
					<string>member variable 'tags' has public visibility</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/workspace/tt_metal/third_party/umd/.cpmcache/yaml-cpp/652ccf99aa11ad40631a0e2faf489e7e553b7858/src/directives.cpp</string>
		<string>/workspace/tt_metal/third_party/umd/.cpmcache/yaml-cpp/652ccf99aa11ad40631a0e2faf489e7e553b7858/src/directives.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.1</string>
		</dict>
	</dict>
</dict>
</plist>
