<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-padded</string>
			<key>description</key>
			<string>padding size of 'YAML::ostream_wrapper' with 7 bytes to alignment boundary</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d5ed2c22c7bc1b6d8b2eeee9368bfb73</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>20</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>16</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>20</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>16</integer>
					</dict>
					<key>message</key>
					<string>padding size of 'YAML::ostream_wrapper' with 7 bytes to alignment boundary</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>readability</string>
			<key>check_name</key>
			<string>readability-implicit-bool-conversion</string>
			<key>description</key>
			<string>implicit conversion 'std::ostream *' (aka 'basic_ostream&lt;char&gt; *') -&gt; 'bool'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2be3d8c72fdf4d57e32a5883201012ba</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>32</integer>
			</dict>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>19</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>32</integer>
					</dict>
					<key>message</key>
					<string>!= nullptr (fixit)</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>32</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion 'std::ostream *' (aka 'basic_ostream&lt;char&gt; *') -&gt; 'bool'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>readability</string>
			<key>check_name</key>
			<string>readability-else-after-return</string>
			<key>description</key>
			<string>do not use 'else' after 'return'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>82cd6763b65d5e62b3c2982f2ed43855</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>7</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>34</integer>
			</dict>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>34</integer>
					</dict>
					<key>message</key>
					<string>m_buffer[m_pos] = '\0'; (fixit)</string>
				</dict>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>34</integer>
					</dict>
					<key>message</key>
					<string>~~~~~~~~~~~~~~~~~~~~~~~ (fixit)</string>
				</dict>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>34</integer>
					</dict>
					<key>message</key>
					<string>return &amp;m_buffer[0]; (fixit)</string>
				</dict>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>34</integer>
					</dict>
					<key>message</key>
					<string>~~~~~~~~~~~~~~~~~~~~ (fixit)</string>
				</dict>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>34</integer>
					</dict>
					<key>message</key>
					<string>} (fixit)</string>
				</dict>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>34</integer>
					</dict>
					<key>message</key>
					<string>~ (fixit)</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>34</integer>
					</dict>
					<key>message</key>
					<string>do not use 'else' after 'return'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>readability</string>
			<key>check_name</key>
			<string>readability-container-data-pointer</string>
			<key>description</key>
			<string>'data' should be used for accessing the data pointer instead of taking the address of the 0-th element</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>8d5da4b444ac244d5149c14de1ba523e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>14</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>36</integer>
			</dict>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>36</integer>
					</dict>
					<key>message</key>
					<string>note: this fix will not be applied because it overlaps with another fix (fixit)</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>36</integer>
					</dict>
					<key>message</key>
					<string>'data' should be used for accessing the data pointer instead of taking the address of the 0-th element</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>readability</string>
			<key>check_name</key>
			<string>readability-identifier-length</string>
			<key>description</key>
			<string>parameter name 'ch' is too short, expected at least 3 characters</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>c64a1d20d5b62a4a7384d404b6bc858d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>24</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>46</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>24</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>46</integer>
					</dict>
					<key>message</key>
					<string>parameter name 'ch' is too short, expected at least 3 characters</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>readability</string>
			<key>check_name</key>
			<string>readability-redundant-access-specifiers</string>
			<key>description</key>
			<string>redundant access specifier has the same accessibility as the previous access specifier</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>1af2222677c3d5255316dcced5c0f4e4</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>2</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>48</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>48</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>48</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>45</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>2</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>45</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>45</integer>
					</dict>
					<key>message</key>
					<string>previously declared here</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>2</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>48</integer>
					</dict>
					<key>message</key>
					<string>redundant access specifier has the same accessibility as the previous access specifier</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>modernize</string>
			<key>check_name</key>
			<string>modernize-avoid-c-arrays</string>
			<key>description</key>
			<string>do not declare C-style arrays, use 'std::array' instead</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>eee7a7b6c34353926a7d021f4bd435d7</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>42</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>59</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>42</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>59</integer>
					</dict>
					<key>message</key>
					<string>do not declare C-style arrays, use 'std::array' instead</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>readability</string>
			<key>check_name</key>
			<string>readability-identifier-length</string>
			<key>description</key>
			<string>parameter name 'ch' is too short, expected at least 3 characters</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>8b9252288fc748e8aad83934a618fe61</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>66</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>70</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>66</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>70</integer>
					</dict>
					<key>message</key>
					<string>parameter name 'ch' is too short, expected at least 3 characters</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>readability</string>
			<key>check_name</key>
			<string>readability-redundant-member-init</string>
			<key>description</key>
			<string>initializer for member 'm_buffer' is redundant</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>84529b1923bb3827dcb72ee19ce0f8f6</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>7</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>17</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>17</integer>
					</dict>
					<key>message</key>
					<string>initializer for member 'm_buffer' is redundant</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-include-cleaner</string>
			<key>description</key>
			<string>no header providing "std::string" is directly included</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>0ccfe5799e300df905124cf1453166ae</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>40</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>26</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>40</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>26</integer>
					</dict>
					<key>message</key>
					<string>no header providing "std::string" is directly included</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>readability</string>
			<key>check_name</key>
			<string>readability-implicit-bool-conversion</string>
			<key>description</key>
			<string>implicit conversion 'std::ostream *' (aka 'basic_ostream&lt;char&gt; *') -&gt; 'bool'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>51750bd731b514c1483569f93db0cb62</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>7</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>27</integer>
			</dict>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>17</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>27</integer>
					</dict>
					<key>message</key>
					<string>!= nullptr (fixit)</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>27</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion 'std::ostream *' (aka 'basic_ostream&lt;char&gt; *') -&gt; 'bool'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-narrowing-conversions</string>
			<key>description</key>
			<string>narrowing conversion from 'size_type' (aka 'unsigned long') to signed type 'streamsize' (aka 'long') is implementation-defined</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>bae3b6c6ab33746d3fa484ce54139c2e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>35</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>28</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>35</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>28</integer>
					</dict>
					<key>message</key>
					<string>narrowing conversion from 'size_type' (aka 'unsigned long') to signed type 'streamsize' (aka 'long') is implementation-defined</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-sign-conversion</string>
			<key>description</key>
			<string>implicit conversion changes signedness: 'size_type' (aka 'unsigned long') to 'streamsize' (aka 'long')</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>e6854b4275ac7a4ac52c6357f97bedee</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>39</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>28</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>39</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>28</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion changes signedness: 'size_type' (aka 'unsigned long') to 'streamsize' (aka 'long')</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>boost</string>
			<key>check_name</key>
			<string>boost-use-ranges</string>
			<key>description</key>
			<string>use a boost version of this algorithm</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>56f8b40556fb4195b01d9d1910c270e0</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>31</integer>
			</dict>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>31</integer>
					</dict>
					<key>message</key>
					<string>boost::range::copy str (fixit)</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>31</integer>
					</dict>
					<key>message</key>
					<string>use a boost version of this algorithm</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-narrowing-conversions</string>
			<key>description</key>
			<string>narrowing conversion from 'std::size_t' (aka 'unsigned long') to signed type 'difference_type' (aka 'long') is implementation-defined</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>8586035edb9e71dbaf9b2a565ff92004</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>58</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>31</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>58</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>31</integer>
					</dict>
					<key>message</key>
					<string>narrowing conversion from 'std::size_t' (aka 'unsigned long') to signed type 'difference_type' (aka 'long') is implementation-defined</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-sign-conversion</string>
			<key>description</key>
			<string>implicit conversion changes signedness: 'std::size_t' (aka 'unsigned long') to 'difference_type' (aka 'long')</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>294f4cca45ad43e5d08f8e1ea506f8b9</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>58</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>31</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>58</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>31</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion changes signedness: 'std::size_t' (aka 'unsigned long') to 'difference_type' (aka 'long')</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>misc</string>
			<key>check_name</key>
			<string>misc-const-correctness</string>
			<key>description</key>
			<string>variable 'ch' of type 'char' can be declared 'const'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>5e723a9e2e13f9ed3295b282e65fff0a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>8</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>34</integer>
			</dict>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>13</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>34</integer>
					</dict>
					<key>message</key>
					<string>const  (fixit)</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>34</integer>
					</dict>
					<key>message</key>
					<string>variable 'ch' of type 'char' can be declared 'const'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>readability</string>
			<key>check_name</key>
			<string>readability-identifier-length</string>
			<key>description</key>
			<string>variable name 'ch' is too short, expected at least 3 characters</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9d94ed372bb5f10093360832afe8fb15</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>13</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>34</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>13</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>34</integer>
					</dict>
					<key>message</key>
					<string>variable name 'ch' is too short, expected at least 3 characters</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>readability</string>
			<key>check_name</key>
			<string>readability-implicit-bool-conversion</string>
			<key>description</key>
			<string>implicit conversion 'std::ostream *' (aka 'basic_ostream&lt;char&gt; *') -&gt; 'bool'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>51750bd731b514c1483569f93db0cb62</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>7</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>40</integer>
			</dict>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>17</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>40</integer>
					</dict>
					<key>message</key>
					<string>!= nullptr (fixit)</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>40</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion 'std::ostream *' (aka 'basic_ostream&lt;char&gt; *') -&gt; 'bool'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-narrowing-conversions</string>
			<key>description</key>
			<string>narrowing conversion from 'std::size_t' (aka 'unsigned long') to signed type 'streamsize' (aka 'long') is implementation-defined</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>94afb8f98df8c1640e736c9957754704</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>27</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>41</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>27</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>41</integer>
					</dict>
					<key>message</key>
					<string>narrowing conversion from 'std::size_t' (aka 'unsigned long') to signed type 'streamsize' (aka 'long') is implementation-defined</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-sign-conversion</string>
			<key>description</key>
			<string>implicit conversion changes signedness: 'std::size_t' (aka 'unsigned long') to 'streamsize' (aka 'long')</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>6d5c9fca51295bbdd6de0fcedea118ba</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>27</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>41</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>27</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>41</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion changes signedness: 'std::size_t' (aka 'unsigned long') to 'streamsize' (aka 'long')</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unsafe-buffer-usage</string>
			<key>description</key>
			<string>unsafe pointer arithmetic</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>5a1d794344039aa4db1118304e5233e4</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>20</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>44</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>20</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>44</integer>
					</dict>
					<key>message</key>
					<string>unsafe pointer arithmetic</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-narrowing-conversions</string>
			<key>description</key>
			<string>narrowing conversion from 'std::size_t' (aka 'unsigned long') to signed type 'difference_type' (aka 'long') is implementation-defined</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>1c6a22f06d114c7fb2b9ee80bb27c6e8</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>51</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>44</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>51</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>44</integer>
					</dict>
					<key>message</key>
					<string>narrowing conversion from 'std::size_t' (aka 'unsigned long') to signed type 'difference_type' (aka 'long') is implementation-defined</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-sign-conversion</string>
			<key>description</key>
			<string>implicit conversion changes signedness: 'std::size_t' (aka 'unsigned long') to 'difference_type' (aka 'long')</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>161c620e1a7835d6fc74a1cda731da58</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>51</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>44</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>51</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>44</integer>
					</dict>
					<key>message</key>
					<string>implicit conversion changes signedness: 'std::size_t' (aka 'unsigned long') to 'difference_type' (aka 'long')</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unsafe-buffer-usage</string>
			<key>description</key>
			<string>unsafe buffer access</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f03823fdd627de94a05f243705b3d81e</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>16</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>48</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>48</integer>
					</dict>
					<key>message</key>
					<string>unsafe buffer access</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>readability</string>
			<key>check_name</key>
			<string>readability-identifier-length</string>
			<key>description</key>
			<string>parameter name 'ch' is too short, expected at least 3 characters</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>4083073bf4e29b21ff23680074f5a2f2</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>39</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>52</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>39</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>52</integer>
					</dict>
					<key>message</key>
					<string>parameter name 'ch' is too short, expected at least 3 characters</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/workspace/tt_metal/third_party/umd/.cpmcache/yaml-cpp/652ccf99aa11ad40631a0e2faf489e7e553b7858/include/yaml-cpp/ostream_wrapper.h</string>
		<string>/workspace/tt_metal/third_party/umd/.cpmcache/yaml-cpp/652ccf99aa11ad40631a0e2faf489e7e553b7858/src/ostream_wrapper.cpp</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.1</string>
		</dict>
	</dict>
</dict>
</plist>
