<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>Logic error</string>
			<key>check_name</key>
			<string>optin.cplusplus.UninitializedObject</string>
			<key>description</key>
			<string>5 uninitialized fields at the end of the constructor call</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a3228113d7bbfdbc9af498e01fe530d9</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>1683</integer>
			</dict>
			<key>macro_expansions</key>
			<array>
				<dict>
					<key>expansion</key>
					<string>[]{struct __attribute__ ((visibility ("hidden")))FMT_COMPILE_STRING :fmt ::detail ::compile_string {using char_type =fmt ::remove_cvref_t &lt;decltype ("{}{}"[0])&gt;;constexpr explicit operator fmt ::basic_string_view &lt;char_type &gt;()const {return fmt ::detail ::compile_string_to_view &lt;char_type &gt;("{}{}");}};using FMT_STRING_VIEW =fmt ::basic_string_view &lt;typename FMT_COMPILE_STRING ::char_type &gt;;fmt ::detail ::ignore_unused (FMT_STRING_VIEW (FMT_COMPILE_STRING ()));return FMT_COMPILE_STRING ();}()</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>22</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>62</integer>
					</dict>
					<key>name</key>
					<string>FMT_STRING("{}{}")</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>inline __attribute__ ((always_inline ))</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>2731</integer>
					</dict>
					<key>name</key>
					<string>FMT_ALWAYS_INLINE</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>constexpr </string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>2732</integer>
					</dict>
					<key>name</key>
					<string>FMT_CONSTEXPR</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>constexpr </string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1674</integer>
					</dict>
					<key>name</key>
					<string>FMT_CONSTEXPR</string>
				</dict>
				<dict>
					<key>expansion</key>
					<string>using unused =int [];(void )unused {0,(init_static_named_arg &lt;T &gt;(named_args_ ,arg_index ,named_arg_index ),0)...}</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1681</integer>
					</dict>
					<key>name</key>
					<string>FMT_APPLY_VARIADIC(
        init_static_named_arg&lt;T&gt;(named_args_, arg_index, named_arg_index))</string>
				</dict>
			</array>
			<key>notes</key>
			<array>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1214</integer>
					</dict>
					<key>message</key>
					<string>uninitialized pointer 'this-&gt;context_.types_'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>15</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>1214</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>20</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>1214</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>520</integer>
					</dict>
					<key>message</key>
					<string>uninitialized pointer 'this-&gt;context_.parse_context::fmt_.data_'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>15</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>520</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>19</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>520</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>521</integer>
					</dict>
					<key>message</key>
					<string>uninitialized field 'this-&gt;context_.parse_context::fmt_.size_'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>10</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>521</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>521</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>870</integer>
					</dict>
					<key>message</key>
					<string>uninitialized field 'this-&gt;context_.parse_context::next_arg_id_'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>7</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>870</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>18</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>870</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1213</integer>
					</dict>
					<key>message</key>
					<string>uninitialized field 'this-&gt;context_.num_args_'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>7</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>1213</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>15</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>1213</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>54</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>54</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>48</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>48</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>58</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>58</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>54</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>54</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>60</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>60</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>58</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>58</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>60</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>60</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>60</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>4</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>60</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>62</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>62</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>60</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>60</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>22</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>62</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>31</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>62</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>62</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>62</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>45</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>2731</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>45</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>2731</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>22</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>62</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>31</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>62</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>2732</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>2732</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>45</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>2731</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>45</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>2731</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>2734</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>28</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>2734</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>2732</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>2732</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>34</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>2734</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>40</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>2734</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>2734</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>28</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>2734</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1676</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1676</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>34</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>2734</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>40</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>2734</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1677</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1677</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1676</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1676</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1678</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1678</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1677</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1677</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>21</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1679</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>21</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1679</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1678</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1678</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1680</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1680</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>21</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1679</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>21</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1679</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>24</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1680</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>38</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1680</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1680</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1680</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1681</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>22</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1681</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>24</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1680</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>38</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1680</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>7</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>60</integer>
					</dict>
					<key>message</key>
					<string>Assuming the condition is false</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>7</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>60</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>60</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>60</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>22</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>62</integer>
					</dict>
					<key>message</key>
					<string>Calling constructor for 'fstring&lt;const char (&amp;)[7], int &amp;&gt;'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>22</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>62</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>39</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>62</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>2731</integer>
					</dict>
					<key>message</key>
					<string>Entered call from 'format_error_code'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>2731</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>2731</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>34</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>2734</integer>
					</dict>
					<key>message</key>
					<string>Calling constructor for 'format_string_checker&lt;char, 2, 0, false&gt;'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>34</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>2734</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>56</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>2734</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1674</integer>
					</dict>
					<key>message</key>
					<string>Entered call from constructor for 'fstring&lt;const char (&amp;)[7], int &amp;&gt;'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>1674</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>1674</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1683</integer>
					</dict>
					<key>message</key>
					<string>5 uninitialized fields at the end of the constructor call</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>5</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>1683</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>45</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>1683</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/workspace/tt_metal/third_party/umd/.cpmcache/fmt/69912fb6b71fcb1f7e5deca191a2bb4748c4e7b6/include/fmt/base.h</string>
		<string>/workspace/tt_metal/third_party/umd/.cpmcache/fmt/69912fb6b71fcb1f7e5deca191a2bb4748c4e7b6/include/fmt/format-inl.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clangsa</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.27.1</string>
		</dict>
	</dict>
</dict>
</plist>
