# Analyze UMD benchmark results
name: Analyze benchmark results

on:
  workflow_call:
    inputs:
      arch:
        required: true
        type: string
      ubuntu-docker-version:
        required: true
        type: string
      card:
        required: true
        type: string

env:
  UMD_MICROBENCHMARK_RESULTS_PATH: /tmp/umd_microbenchmark_results

jobs:
  analyze:
    name: Analyze results for ${{ inputs.arch }} on ${{ inputs.card }} on ${{ inputs.ubuntu-docker-version }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}/tt-umd-ci-${{ inputs.ubuntu-docker-version }}:latest

    steps:
      - name: Checkout analysis tools
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            tests/microbenchmark/tools/analyze_results.py
          sparse-checkout-cone-mode: false

      - name: Install python dependencies
        run: python3 -m pip install --no-cache-dir pandas psutil tabulate

      - name: Create benchmark results directory
        run: mkdir -p ${{ env.UMD_MICROBENCHMARK_RESULTS_PATH }}/{base,compare}

      - name: Download baseline JSON benchmark results
        uses: actions/download-artifact@v4
        with:
          name: benchmark-json-${{ inputs.arch }}-${{ inputs.card }}-${{ inputs.ubuntu-docker-version }}
          run-id: 20960766246
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path: ${{ env.UMD_MICROBENCHMARK_RESULTS_PATH }}/base

      - name: Download comparison JSON benchmark results
        uses: actions/download-artifact@v4
        with:
          name: benchmark-json-${{ inputs.arch }}-${{ inputs.card }}-${{ inputs.ubuntu-docker-version }}
          path: ${{ env.UMD_MICROBENCHMARK_RESULTS_PATH }}/compare

      - name: Run analysis of benchmark data
        run: |
          python3 tests/microbenchmark/tools/analyze_results.py \
          ${{ env.UMD_MICROBENCHMARK_RESULTS_PATH }}/compare -c ${{ env.UMD_MICROBENCHMARK_RESULTS_PATH }}/base

      - name: Cleanup benchmark results directory
        run: rm -rf ${{ env.UMD_MICROBENCHMARK_RESULTS_PATH }}
