# Build and then run all tests, on all supported archs.
name: Build and run all tests

on:
  workflow_call:
    inputs:
      build-type:
        required: true
        type: string
      timeout:
        required: true
        type: number
      log-params:
        required: false
        type: string
        default: ""
  workflow_dispatch:
    inputs:
      build-type:
        required: true
        default: Release
        type: choice
        options:
          - Release
          - RelWithDebInfo
          - Debug
          - ASan
          - TSan
      log-level:
        required: false
        default: info
        type: choice
        options:
          - info
          - debug
          - trace
      timeout:
        required: true
        description: 'The timeout for the test run in minutes'
        type: number
        default: 30


jobs:
  build-tests:
    name: ""
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        ubuntu-docker-version: [
          'ubuntu-22.04',
        ]
    uses: ./.github/workflows/build-tests.yml
    with:
      ubuntu-docker-version: ${{ matrix.ubuntu-docker-version}}
      timeout: 15
      build-type: ${{ inputs.build-type }}
      log-params: |
        ${{ inputs.log-params }}
        echo build-and-run-all-tests - build-type: ${{ inputs.build-type }}
        echo build-and-run-all-tests - timeout: ${{ inputs.timeout }}
        echo build-and-run-all-tests - log-level: ${{ inputs.log-level }}


  test-all:
    name: ""
    secrets: inherit
    needs: build-tests
    strategy:
      fail-fast: false
      matrix:
        test-group: [
          # {arch: wormhole_b0, card: tt-ubuntu-2204-n150-stable},
          # {arch: wormhole_b0, card: tt-ubuntu-2204-n150-viommu-stable},
          # {arch: wormhole_b0, card: tt-ubuntu-2204-n300-stable},
          # {arch: wormhole_b0, card: tt-ubuntu-2204-n300-viommu-stable},
          # {arch: wormhole_b0, card: tt-ubuntu-2204-n300-llmbox-stable},
          # {arch: wormhole_b0, card: tt-ubuntu-2204-n300-llmbox-viommu-stable},
          # TODO: To be added when available.
          # {arch: blackhole, card: tt-ubuntu-2204-p100a-stable},
          # {arch: blackhole, card: tt-ubuntu-2204-p100a-viommu-stable},
          # {arch: blackhole, card: tt-ubuntu-2204-p150b-stable},
          # {arch: blackhole, card: tt-ubuntu-2204-p150b-viommu-stable},
          # bh-gh-07 is a P300 runner.
          # {arch: blackhole, card: bh-gh-07},
          {arch: baremetal, card: ubuntu-22.04},
        ]
        ubuntu-docker-version: [
          'ubuntu-22.04',
        ]
    uses: ./.github/workflows/run-tests.yml
    with:
      arch: ${{ matrix.test-group.arch}}
      ubuntu-docker-version: ${{ matrix.ubuntu-docker-version}}
      card: ${{ matrix.test-group.card}}
      timeout: ${{ fromJSON(inputs.timeout) }}
      log-level: ${{ inputs.log-level || 'info' }}
      build-type: ${{ inputs.build-type }}
      log-params: |
        ${{ inputs.log-params }}
        echo build-and-run-all-tests - build-type: ${{ inputs.build-type }}
        echo build-and-run-all-tests - timeout: ${{ inputs.timeout }}
        echo build-and-run-all-tests - log-level: ${{ inputs.log-level }}
