# Build and then run all tests, on all supported archs.
name: Build and run all tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: ["main"]

jobs:
  build-tests:
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        test-group: [
          {arch: grayskull},
          {arch: wormhole_b0},
          {arch: blackhole},
        ]
        ubuntu-version: [
          'ubuntu-22.04',
          'ubuntu-20.04',
        ]
    uses: ./.github/workflows/build-tests.yml
    with:
      arch: ${{ matrix.test-group.arch}}
      ubuntu-version: ${{ matrix.ubuntu-version}}
      timeout: 15

  test-all:
    secrets: inherit
    needs: build-tests
    strategy:
      fail-fast: false
      matrix:
        test-group: [
          {arch: grayskull, card: e75, timeout: 10},
          {arch: grayskull, card: e150, timeout: 10},
          {arch: grayskull, card: e300, timeout: 10},
          {arch: wormhole_b0, card: n150, timeout: 5},
          {arch: wormhole_b0, card: n300, timeout: 15},
          {arch: blackhole, card: p150, timeout: 10},
        ]
        ubuntu-version: [
          # Running tests on ubuntu-20.04 should be sufficient. Reduce load on CI.
          # 'ubuntu-22.04',
          'ubuntu-20.04',
        ]
    uses: ./.github/workflows/run-tests.yml
    with:
      arch: ${{ matrix.test-group.arch}}
      ubuntu-version: ${{ matrix.ubuntu-version}}
      card: ${{ matrix.test-group.card}}
      timeout: ${{ matrix.test-group.timeout}}
