# Build and then run all tests, on all supported archs.
name: Build and run all tests

on:
  workflow_dispatch:
    inputs:
      build-type:
        required: false
        default: Release
        type: choice
        options:
          - Release
          - RelWithDebInfo
          - Debug
          - ASan
          - TSan
      log-level:
        required: false
        default: info
        type: choice
        options:
          - info
          - debug
          - trace
  pull_request:
  push:
    branches: ["main"]

jobs:
  build-tests:
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        ubuntu-docker-version: [
          'ubuntu-22.04',
          'ubuntu-24.04',
        ]
    uses: ./.github/workflows/build-tests.yml
    with:
      ubuntu-docker-version: ${{ matrix.ubuntu-docker-version}}
      timeout: 15
      build-type: ${{ inputs.build-type || 'Release' }}

  test-all:
    secrets: inherit
    needs: build-tests
    strategy:
      fail-fast: false
      matrix:
        test-group: [
          {arch: wormhole_b0, card: tt-beta-ubuntu-2204-n300-llmbox-large-stable, timeout: 25},
          {arch: wormhole_b0, card: tt-ubuntu-2204-n300-llmbox-viommu-stable, timeout: 25},
        ]
        ubuntu-docker-version: [
          'ubuntu-22.04',
        ]
        repeat: [
          1, 2, 3, 4, 5,
        ]
    uses: ./.github/workflows/run-tests.yml
    with:
      arch: ${{ matrix.test-group.arch}}
      ubuntu-docker-version: ${{ matrix.ubuntu-docker-version}}
      card: ${{ matrix.test-group.card}}
      # When log level is such that more logs are printed, we need a larger timeout.
      # This is somewhat of a hack and an arbitrary value, to be revised.
      timeout: ${{ inputs.log-level != 'info' && 60 || matrix.test-group.timeout }}
      log-level: ${{ inputs.log-level || 'info' }}
